<!-- Default form register -->
<form class="text-center border border-light p-5 card" *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

    <p class="h4 mb-4">Sign up</p>

    <div class="form-row mb-4">
        <div class="col">
            <!-- First name -->
            <input type="text"  [(ngModel)]="form.username" required name="Username" #username="ngModel" id="defaultRegisterFormFirstName" class="form-control" placeholder="Username">
        </div>
        <div class="col">
            <!-- Last name -->
            <input type="text" [(ngModel)]="form.lname" required  #lname="ngModel" name="last_name" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
        </div>
    </div>

    <!-- Password -->
    <input type="password" [(ngModel)]="form.password" required  #password="ngModel" name="pw" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        At least 8 characters and 1 digit
    </small>
    <input type="text" [(ngModel)]="form.fname" required  #fname="ngModel" name="fname"  class="form-control" placeholder="First name" aria-describedby="defaultRegisterFormPhoneHelpBlock">
    <br>
    <!-- Phone number -->
    <input type="text" [(ngModel)]="form.numtel" required  #numtel="ngModel" name="num_tel" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">
    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
        Optional - for two step authentication
    </small>

    <!-- Newsletter -->
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
        <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
    </div>

    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block">Sign Up</button>
    <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>


    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>

    <!-- Social register -->
    <p>or sign up with:

    <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>
    </p>
    <hr>

    <!-- Terms of service -->
    <p>By clicking
        <em>Sign up</em> you agree to our
        <a href="" target="_blank">terms of service</a>

</form>
<!-- Default form register -->